<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and weatherstack.com! The tech stack used to build this application: Node.js, Express, Handlebars.js, and CSS. The source code can be found at my <a href="https://github.com/casey-dietz/node3-weather-website" target="_blank">Github Repo</a></p>
        
        <img class="portrait" src="/img/map.jpg">
    </div>
    
    {{>footer}}
</body>

</html>